<a href="https://colab.research.google.com/github/valerio-unifei/ECAA07/blob/main/ECAA07_05_Servidor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando o MySQL no Colab

In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start

Permitindo o acesso ao root

In [3]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"

## Instalando o PyMySQL para executar comandos SQL como código no Python

In [ ]:
!pip -q install PyMySQL
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/

# Criando Banco de Dados

Base Exemplo:

https://github.com/datacharmer/test_db/blob/master/employees.sql

In [ ]:
%sql CREATE DATABASE ECAA07Base;

## Direcionando base para criação de tabelas e dados

In [ ]:
%sql USE ECAA07Base;

##Criando Tabelas

In [ ]:
%%sql resultado <<
CREATE TABLE employees ( 
    emp_no      INT             NOT NULL, 
    birth_date  DATE            NOT NULL, 
    first_name  VARCHAR(14)     NOT NULL, 
    last_name   VARCHAR(16)     NOT NULL, 
    gender      ENUM ('M','F')  NOT NULL, 
    hire_date   DATE            NOT NULL, 
    PRIMARY KEY (emp_no) 
);

In [ ]:
%%sql resultado <<
CREATE TABLE departments (
    dept_no     CHAR(4)         NOT NULL,
    dept_name   VARCHAR(40)     NOT NULL,
    PRIMARY KEY (dept_no),
    UNIQUE  KEY (dept_name)
);

In [ ]:
%%sql resultado <<
CREATE TABLE dept_emp (
    emp_no      INT             NOT NULL,
    dept_no     CHAR(4)         NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE            NOT NULL,
    FOREIGN KEY (emp_no)  REFERENCES employees   (emp_no)  ON DELETE CASCADE,
    FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no,dept_no)
);

## Inserindo valores

In [ ]:
%%sql resultado <<
INSERT INTO employees 
  VALUES 
  (1,'1974-06-30','Jupiter','Natalino','M','2015-09-10'),
  (2,'1978-12-10','Amancia','Mefisto','F','2016-02-14'),
  (3,'1984-05-23','Mefisto','Papanatas','M','2016-02-14'),
  (4,'1977-03-03','Sigismunda','Moluco','F','2013-06-07');

In [ ]:
%%sql resultado <<
INSERT INTO departments 
  VALUES 
  (1,'Diretoria'),
  (2,'Vendas');

In [ ]:
%%sql resultado <<
INSERT INTO dept_emp 
  VALUES 
  (1,1,'2015-09-10','2099-01-01'),
  (2,1,'2016-02-14','2019-03-10'),
  (3,2,'2016-02-14','2017-06-20'),
  (4,2,'2013-06-07','2099-01-01');

## Definindo Usuários para Banco

In [ ]:
%sql CREATE USER 'ecaa07user'@'localhost' IDENTIFIED BY 'sqlehdivertido2021sqn';

In [ ]:
%sql CREATE USER 'ecaa07web'@'%' IDENTIFIED BY 'se#for#facil#a#turma&invade09';

In [ ]:
%sql GRANT ALL PRIVILEGES ON ECAA07Base.* TO 'ecaa07user'@'localhost';

In [ ]:
%sql GRANT SELECT ON ECAA07Base.employees TO 'ecaa07web'@'%';

# Acesso Teste

In [ ]:
import pymysql.cursors

conn = pymysql.connect(
    host="localhost", 
    user="ecaa07user", 
    password="sqlehdivertido2021sqn",
    database='ECAA07Base',
    )

cursor = conn.cursor()

cursor.execute('''
  SELECT 
    e.first_name as nome,
    e.last_name as sobrenome,
    e.birth_date as nascimento,
    e.gender as sexo,
    e.hire_date as contratacao,
    d.dept_name as departamento
  FROM employees as e INNER JOIN dept_emp as de ON e.emp_no = de.emp_no
    INNER JOIN departments as d ON d.dept_no = de.dept_no
  '''
 )

cursor.fetchall()

In [ ]:
import pymysql.cursors

conn = pymysql.connect(
    host="localhost", 
    user="ecaa07web", 
    password="se#for#facil#a#turma&invade09",
    database='ECAA07Base',
    )

cursor = conn.cursor()

cursor.execute('''
  SELECT 
    e.first_name as nome,
    e.last_name as sobrenome,
    e.birth_date as nascimento,
    e.gender as sexo,
    e.hire_date as contratacao,
    d.dept_name as departamento
  FROM employees as e INNER JOIN dept_emp as de ON e.emp_no = de.emp_no
    INNER JOIN departments as d ON d.dept_no = de.dept_no
  '''
 )

cursor.fetchall()

In [ ]:
import pymysql.cursors

conn = pymysql.connect(
    host="localhost", 
    user="ecaa07web", 
    password="se#for#facil#a#turma&invade09",
    database='ECAA07Base',
    )

cursor = conn.cursor()

cursor.execute(' SELECT * FROM employees')

cursor.fetchall()