<a href="https://colab.research.google.com/github/valerio-unifei/ECAA07/blob/main/ECAA07_03_Tabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criação de Tabelas

- Tabela: Medidores
- Campos:
 - id_medidor: inteiro, auto incremento
 - medidor: texto, obrigatório
 - unidade: texto
 - instalado: data hora
 - valor máximo: número

## Tipo de Campo

- Texto
- Inteiro
- Boleano
- Fraçoes
- Datas e Horários
- Objetos

## Atributos

- VALUE: Armazena dado do campo
- ISNULLABLE: permite armazenar NULL
- DEFAULTVALU: valor inicial do campo
- RULE: Regra de inserção do valor
- PRIMARY KEY: Coluna é chave primária
- FOREIGN KEY: Coluna é chave em outra tabela
- AUTOINCREMENT: ++ para cada nova linha
- UNIQUE: permite apenas valores sem repetição na tabela

In [ ]:
%load_ext sql
%sql sqlite:///ecaa07_03_tabelas.db

In [ ]:
%%sql
CREATE TABLE Alunos (
    IdAluno    INTEGER      PRIMARY KEY AUTOINCREMENT,
    Aluno      VARCHAR(255) NOT NULL,
    CPF        VARCHAR(15)  NOT NULL UNIQUE,
    Nascimento DATETIME,
    Matricula  INTEGER UNIQUE);

## Atividade 1

Informações sobre os dados: [Kaggle](https://www.kaggle.com/datasets/tr1gg3rtrash/cars-2022-dataset)

Visualizando tabela no arquivo CSV:
[Dados da tabela](https://drive.google.com/file/d/1vgP0GeO_zkake8VjALZGx5c_k6xdQeJE/view?usp=sharing)

Monte uma tabela no banco de dados para armazenar esses dados:

# Relacionamento entre Tabelas

Tabela Cores:

| IdCor | Cor |
|:---:|:---:|
| 1 | Preto |
| 2 | Marrom |
| 3 | Azul |
| 4 | Verde |

Tabela Fornecedores:

| IdFornecedor | Fornecedor | Telefone | Contato |
|:---:|:---:|:---:|:---:|
| 1 | Samelo | (11) 3452-3454 | João |
| 2 | Miloca | (31) 4325-7684 | Pedro |

Tabela Produtos:

| IdProduto | Produto | IdCor | IdFornecedor |
|:---:|:---:|:---:|:---:|
| 1 | Sapato | 1 | 1 |
| 2 | Sapato | 2 | 1 |
| 3 | Bolsa | 3 | 2 |
| 4 | Boné | 1 | 1 |
| 5 | Boné | 4 | 1 |

In [ ]:
%%sql
CREATE TABLE Cores (
    IdCor INTEGER PRIMARY KEY AUTOINCREMENT,
    Cor   VARCHAR(50) NOT NULL
);

In [ ]:
%%sql
CREATE TABLE Fornecedores (
    IdFornecedor INTEGER PRIMARY KEY AUTOINCREMENT,
    Fornecedor   VARCHAR(150) NOT NULL,
    Telefone     VARCHAR(50),
    Contato      VARCHAR(255)
);

In [ ]:
%%sql
CREATE TABLE Produtos (
    IdProduto    INTEGER PRIMARY KEY AUTOINCREMENT,
    Produto      VARCHAR(150) NOT NULL,
    IdCor        INTEGER REFERENCES Cores(IdCor) ON DELETE CASCADE,
    IdFornecedor INTEGER REFERENCES Fornecedores(IdFornecedor) ON DELETE CASCADE
);

## Atividade 2

Informações da tabela: [Kaggle](https://www.kaggle.com/datasets/shivamsingh0194/top-500-cities)

Dados da tabela: [Visualizar](https://drive.google.com/file/d/1iBTb3Wn4b4Euybe713cyj15G6e9HGpbh/view?usp=sharing)

Crie as tabelas derivadas dessa informação original e seus relacionamentos por chaves primárias e extrangeiras.