<a href="https://colab.research.google.com/github/valerio-unifei/ECAA07/blob/main/ECAA07_03_Consultas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados Exemplo - Chinook.db (SQLite3)

In [1]:
!wget "https://github.com/valerio-unifei/ECAA07/raw/main/Bancos/chinook.db"

--2021-09-13 20:45:54--  https://github.com/valerio-unifei/ECAA07/raw/main/Bancos/chinook.db
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/valerio-unifei/ECAA07/main/Bancos/chinook.db [following]
--2021-09-13 20:45:55--  https://raw.githubusercontent.com/valerio-unifei/ECAA07/main/Bancos/chinook.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 884736 (864K) [application/octet-stream]
Saving to: ‘chinook.db’

chinook.db          100%[===================>] 864.00K  --.-KB/s    in 0.04s

2021-09-13 20:45:55 (21.9 MB/s) - ‘chinook.db’ saved [884736/884736]

# Estrutura do Banco

<img src="https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg">

# SQLite3 - Consultas

## Conexão com o Banco de Dados

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('chinook.db')

# Exercícios

## Consulta 1

In [12]:
tabelas = pd.read_sql_query(sql='SELECT * FROM sqlite_master WHERE type="table"',con=conn)
tabelasSe

     type  ...                                                sql
0   table  ...  CREATE TABLE "albums"\r\n(\r\n    [AlbumId] IN...
1   table  ...             CREATE TABLE sqlite_sequence(name,seq)
2   table  ...  CREATE TABLE "artists"\r\n(\r\n    [ArtistId] ...
3   table  ...  CREATE TABLE "customers"\r\n(\r\n    [Customer...
4   table  ...  CREATE TABLE "employees"\r\n(\r\n    [Employee...
5   table  ...  CREATE TABLE "genres"\r\n(\r\n    [GenreId] IN...
6   table  ...  CREATE TABLE "invoices"\r\n(\r\n    [InvoiceId...
7   table  ...  CREATE TABLE "invoice_items"\r\n(\r\n    [Invo...
8   table  ...  CREATE TABLE "media_types"\r\n(\r\n    [MediaT...
9   table  ...  CREATE TABLE "playlists"\r\n(\r\n    [Playlist...
10  table  ...  CREATE TABLE "playlist_track"\r\n(\r\n    [Pla...
11  index  ...                                               None
12  table  ...  CREATE TABLE "tracks"\r\n(\r\n    [TrackId] IN...
13  index  ...  CREATE INDEX [IFK_AlbumArtistId] ON "albums" (...
14  index  ...  CREATE INDEX [IFK_CustomerSupportRepId] ON "cu...
15  index  ...  CREATE INDEX [IFK_EmployeeReportsTo] ON "emplo...
16  index  ...  CREATE INDEX [IFK_InvoiceCustomerId] ON "invoi...
17  index  ...  CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "in...
18  index  ...  CREATE INDEX [IFK_InvoiceLineTrackId] ON "invo...
19  index  ...  CREATE INDEX [IFK_PlaylistTrackTrackId] ON "pl...
20  index  ...  CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([...
21  index  ...  CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([...
22  index  ...  CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks...
23  table  ...            CREATE TABLE sqlite_stat1(tbl,idx,stat)

[24 rows x 5 columns]

## Consulta 2

In [4]:
consulta = pd.read_sql_query(sql='SELECT * FROM customers',con=conn)
print('Registros =',len(consulta))
consulta.head()

Registros = 59

   CustomerId  FirstName  ...                     Email SupportRepId
0           1       Luís  ...      luisg@embraer.com.br            3
1           2     Leonie  ...     leonekohler@surfeu.de            5
2           3   François  ...       ftremblay@gmail.com            3
3           4      Bjørn  ...     bjorn.hansen@yahoo.no            4
4           5  František  ...  frantisekw@jetbrains.com            4

[5 rows x 13 columns]

## Consulta 3

In [14]:
consulta = pd.read_sql_query(sql='SELECT * FROM customers WHERE Fax !="None" ORDER BY FirstName, LastName DESC',con=conn)
print('Registros =',len(consulta))
consulta.head()

Registros = 12

   CustomerId  FirstName  ...                     Email SupportRepId
0          11  Alexandre  ...          alero@uol.com.br            5
1          10    Eduardo  ...  eduardo@woodstock.com.br            4
2          13   Fernanda  ...  fernadaramos4@uol.com.br            4
3          16      Frank  ...        fharris@google.com            4
4           5  František  ...  frantisekw@jetbrains.com            4

[5 rows x 13 columns]

## Consulta 4

In [7]:
consulta = pd.read_sql_query(
    sql= """
      SELECT 
          x.Firstname || ' ' || x.LastName as nome,
          x.Country as pais,
          STRFTIME('%d/%m/%Y',y.InvoiceDate) as data_compra
      FROM customers as x INNER JOIN invoices as y ON x.CustomerId = y.CustomerId
      """,
      con = conn)
print('Registros =',len(consulta))
consulta.head(20)

Registros = 412

                 nome     pais data_compra
0      Luís Gonçalves   Brazil  11/03/2010
1      Luís Gonçalves   Brazil  13/06/2010
2      Luís Gonçalves   Brazil  15/09/2010
3      Luís Gonçalves   Brazil  06/05/2011
4      Luís Gonçalves   Brazil  27/10/2012
5      Luís Gonçalves   Brazil  07/12/2012
6      Luís Gonçalves   Brazil  07/08/2013
7       Leonie Köhler  Germany  01/01/2009
8       Leonie Köhler  Germany  11/02/2009
9       Leonie Köhler  Germany  12/10/2009
10      Leonie Köhler  Germany  19/05/2011
11      Leonie Köhler  Germany  21/08/2011
12      Leonie Köhler  Germany  23/11/2011
13      Leonie Köhler  Germany  13/07/2012
14  François Tremblay   Canada  11/03/2010
15  François Tremblay   Canada  21/04/2010
16  François Tremblay   Canada  20/12/2010
17  François Tremblay   Canada  26/07/2012
18  François Tremblay   Canada  28/10/2012
19  François Tremblay   Canada  30/01/2013

## Consulta 5

In [19]:
consulta = pd.read_sql_query(
    sql= """
      SELECT 
          x.Firstname || ' ' || x.LastName as nome,
          x.Country as pais,
          STRFTIME('%d/%m/%Y',y.InvoiceDate) as data_compra,
          z.UnitPrice as preco_unitario,
          z.Quantity as quantidade
      FROM customers as x INNER JOIN invoices as y ON x.CustomerId = y.CustomerId
        INNER JOIN invoice_items as z ON y.InvoiceID = z.InvoiceID
      ORDER BY x.Country, y.InvoiceDate DESC
      """,
      con = conn)
print('Registros =',len(consulta))
consulta.head(20)

Registros = 2240

               nome       pais data_compra  preco_unitario  quantidade
0   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
1   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
2   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
3   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
4   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
5   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
6   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
7   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
8   Diego Gutiérrez  Argentina  08/11/2013            0.99           1
9   Diego Gutiérrez  Argentina  10/03/2013            0.99           1
10  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
11  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
12  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
13  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
14  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
15  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
16  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
17  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
18  Diego Gutiérrez  Argentina  10/03/2013            0.99           1
19  Diego Gutiérrez  Argentina  10/03/2013            0.99           1

## Consulta 6

In [28]:
consulta = pd.read_sql_query(
    sql= """
      SELECT 
          x.Firstname || ' ' || x.LastName as nome,
          x.Country as pais,
          STRFTIME('%d/%m/%Y',y.InvoiceDate) as data_compra,
          z.UnitPrice as preco_unitario,
          z.Quantity as quantidade,
          t.Name as faixa_nome,
          a.Title as album_nome,
          b.Name as artista,
          m.Name as formato_media
      FROM customers as x INNER JOIN invoices as y ON x.CustomerId = y.CustomerId
        INNER JOIN invoice_items as z ON y.InvoiceID = z.InvoiceID
        INNER JOIN tracks as t ON z.TrackId = t.TrackId
        INNER JOIN albums as a ON t.AlbumId = a.AlbumId
        INNER JOIN artists as b ON a.ArtistId = b.ArtistId
        INNER JOIN media_types as m ON t.MediaTypeId = m.MediaTypeId
    WHERE b.Name LIKE '%&%' and x.Country = 'Canada'
    ORDER BY data_compra DESC, nome
      """,
      con = conn)
print('Registros =',len(consulta))
consulta.head(20)

Registros = 19

                 nome  ...             formato_media
0   François Tremblay  ...           MPEG audio file
1   François Tremblay  ...           MPEG audio file
2   François Tremblay  ...           MPEG audio file
3   François Tremblay  ...           MPEG audio file
4   François Tremblay  ...  Protected AAC audio file
5   François Tremblay  ...  Protected AAC audio file
6   François Tremblay  ...  Protected AAC audio file
7   François Tremblay  ...  Protected AAC audio file
8      Aaron Mitchell  ...           MPEG audio file
9      Aaron Mitchell  ...           MPEG audio file
10  Jennifer Peterson  ...           MPEG audio file
11  Jennifer Peterson  ...           MPEG audio file
12     Aaron Mitchell  ...           MPEG audio file
13     Aaron Mitchell  ...           MPEG audio file
14     Aaron Mitchell  ...           MPEG audio file
15     Aaron Mitchell  ...           MPEG audio file
16     Aaron Mitchell  ...           MPEG audio file
17     Aaron Mitchell  ...           MPEG audio file
18       Mark Philips  ...           MPEG audio file

[19 rows x 9 columns]

## Consulta 7

In [29]:
consulta = pd.read_sql_query(
    sql= """
      SELECT 
          x.Country as pais,
          COUNT(*) as num_zeca
      FROM customers as x INNER JOIN invoices as y ON x.CustomerId = y.CustomerId
        INNER JOIN invoice_items as z ON y.InvoiceID = z.InvoiceID
        INNER JOIN tracks as t ON z.TrackId = t.TrackId
        INNER JOIN albums as a ON t.AlbumId = a.AlbumId
        INNER JOIN artists as b ON a.ArtistId = b.ArtistId
        INNER JOIN media_types as m ON t.MediaTypeId = m.MediaTypeId
      WHERE B.Name = 'Zeca Pagodinho'
      GROUP BY x.Country
      """,
      con = conn)
consulta.head(10)

             pais  num_zeca
0  Czech Republic         2
1         Finland         2
2         Hungary         2
3             USA         3

## Consulta 8

In [35]:
consulta = pd.read_sql_query(
    sql= """
      SELECT
          a.Title as album_nome,
          b.Name as artista,
          COUNT(*) as num_faixas
      FROM tracks as t INNER JOIN albums as a ON t.AlbumId = a.AlbumId
        INNER JOIN artists as b ON a.ArtistId = b.ArtistId
        INNER JOIN media_types as m ON t.MediaTypeId = m.MediaTypeId
      GROUP BY a.Title, b.Name
      ORDER BY num_faixas DESC
      LIMIT 10
      """,
      con = conn)
consulta

                                   album_nome  ... num_faixas
0                               Greatest Hits  ...         57
1                              Minha Historia  ...         34
2                                   Unplugged  ...         30
3                              Lost, Season 3  ...         26
4                              Lost, Season 1  ...         25
5                        The Office, Season 3  ...         25
6    Battlestar Galactica (Classic), Season 1  ...         24
7                              Lost, Season 2  ...         24
8  My Way: The Best Of Frank Sinatra [Disc 1]  ...         24
9                              Afrociberdelia  ...         23

[10 rows x 3 columns]

## Consulta 9

In [39]:
consulta = pd.read_sql_query(
    sql= """
      SELECT 
          a.Title as album_nome,
          b.Name as artista,
          SUM(z.UnitPrice * z.Quantity) as valor,
          COUNT(*) as quantidade
      FROM customers as x INNER JOIN invoices as y ON x.CustomerId = y.CustomerId
        INNER JOIN invoice_items as z ON y.InvoiceID = z.InvoiceID
        INNER JOIN tracks as t ON z.TrackId = t.TrackId
        INNER JOIN albums as a ON t.AlbumId = a.AlbumId
        INNER JOIN artists as b ON a.ArtistId = b.ArtistId
        INNER JOIN media_types as m ON t.MediaTypeId = m.MediaTypeId
      GROUP BY a.Title, b.Name
      ORDER BY valor desc
      LIMIT 10
      """,
      con = conn)
consulta

                                 album_nome  ... quantidade
0  Battlestar Galactica (Classic), Season 1  ...         18
1                      The Office, Season 3  ...         16
2                            Minha Historia  ...         27
3                          Heroes, Season 1  ...         13
4                            Lost, Season 2  ...         13
5                             Greatest Hits  ...         26
6                                 Unplugged  ...         25
7            Battlestar Galactica, Season 3  ...         12
8                            Lost, Season 3  ...         11
9                                  Acústico  ...         22

[10 rows x 4 columns]