<a href="https://colab.research.google.com/github/valerio-unifei/ECAA07/blob/main/ECAA07_02_MagicSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linguagem SQL

- Structured Query Language
 - Apelido: Sequel
- Desenvolvida na IBM por Donald D. Chamberlin e Raymond F. Boyce em torno de 1970
- Padronizada pela ANSI e ISO em 1986
- Versões:
 - 1989, 1992, 1996, 1999, 2003, 2006, 2008, 2011 e 2016.

## Tipos de SQL

- Linguagem de Definição de Dados (DDL)
 - Instruções de criação e modificação das estruturas do banco
- Linguagem de Consulta de Dados (DQL)
  - Instruções de consulta dos dados armazenados.
- Linguagem de Manipulação de Dados (DML)
 - Instruções de inserção ou modificação dos dados armazenados
- Linguagem de Controle de Dados (DCL)
 - Controle de acesso e permissões para usuários no banco
- Linguagem de Controle de Transações (TCL)
 - Gestão do fluxo de informação da DML

## Exemplo

Ativando o Magic SQL do Notebook:

In [ ]:
%load_ext sql
%sql sqlite:///ecaa07_02_magicsql.db
%config SqlMagic.autopandas=True

SQL para criação de tabela no SQLite (DDL):

In [ ]:
%sql DROP TABLE Alunos

In [ ]:
%%sql
CREATE TABLE Alunos (
    IdAluno    INTEGER      PRIMARY KEY AUTOINCREMENT,
    Aluno      VARCHAR(255) NOT NULL,
    CPF        VARCHAR(15)  NOT NULL UNIQUE,
    Nascimento DATETIME,
    Matricula  INTEGER UNIQUE);

SQL para preenchimento de alunos (DML):

In [ ]:
%sql INSERT INTO Alunos (Aluno, CPF) VALUES ('Sigimundo Pinpinela','987.654.321-00');

In [ ]:
%sql INSERT INTO Alunos (Aluno, CPF, Nascimento, Matricula) VALUES ('Jupiter Natalino','654.987.321-01','2001-07-12',2021000123);

SQL para consulta dos alunos (DQL):

In [ ]:
%sql SELECT * FROM Alunos

# Atividade

Em Magic SQL do Jupyter Notebook implemente o código da apresentação:

[Aula 2 Slides](https://docs.google.com/presentation/d/e/2PACX-1vTlK1MoGFeGbP7rQ7uEpiXn8pHqw_EJS8Vl-H_-7m51BM7MusQRK8mmsoGK_UNzfGpdFaXzvcIvBd_X/pub?start=false&loop=false&delayms=3000)